[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/DaFungaJunga
[access "refs/for/refs/*"]
	read = group user/DaFungaJunga
	push = group user/DaFungaJunga
	label-Code-Review = -2..+2 group user/DaFungaJunga
	label-Verified = -1..+1 group user/DaFungaJunga
	rebase = group user/DaFungaJunga
	removeReviewer = group user/DaFungaJunga
	submit = group user/DaFungaJunga
[access "refs/heads/*"]
	read = group user/DaFungaJunga
	create = group user/DaFungaJunga
	push = +force group user/DaFungaJunga
	pushMerge = group user/DaFungaJunga
[access "refs/tags/*"]
	push = group user/DaFungaJunga
	push = +force group user/DaFungaJunga
